<h1>Calendarrrrrrrr</h1>

<%= link_to 'New service', new_service_path %>
<table>
  <tr>
    <th>Service date</th>
  </tr>
 
  <% @services.each do |service| %>
    <tr>
      <td><%= service.service_date %></td>
      <td><%= service.client_id %></td>
      <td><%= service.employee_id %></td>
      <td><%= link_to 'Show', service_path(service) %></td>
      <td><%= link_to 'Edit', edit_service_path(service) %></td>
      <td><%= link_to 'Delete', service_path(service),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

  <div>
    <div class="calendar"></div>
  </div>
  <div id = "create_event_dialog" class="dialog" style ="display:none;"></div>
  <div id = "event_desc_dialog" class="dialog" style ="display:none;"></div>

  <script type = 'javascript'>
    $('.calendar').fullCalendar(full_calendar_options);
  </script>
